<div class="selected-work p-5">
  <h1 class="fw-bold fs-84">Selected Work</h1>
  <h3 class="fs-18 o-50">always open to unexpected opportunities</h3>

  <div class="space-1"></div>

  <div class="projects my-5">

    <div class="project py-5 setram featured row position-relative">
      <div class="project-content col col-12 col-md-8 offset-0 offset-lg-1 col-lg-4">
        <h3 class="fs-48 fw-bold">setram</h3>

        <div class="mt-1tech-stack o-75">
          <span class="fw-bold fs-12 pe-2">2021</span>
          <span class="fw-bold fs-12 pe-2">angular</span>
          <span class="fw-bold fs-12 pe-2">nodejs</span>
          <span class="fw-bold fs-12 pe-2">d3.js</span>
          <span class="fw-bold fs-12 pe-2">nebular</span>
        </div>
        <p class="mt-5 fs-14">
          KravMaga center is a Martial Arts Gym based in Luxembourg.
          The project consisted of the rebranding and development of their website. Development included a registration
          system, a blog, an event management system, and the integration of their existing online shop and academy
          platform.
        </p>
        <div class="d-flex justify-content-between">
          <a class="cta-link fw-bold uppercase fs-14" routerLink="/projects/setram">case study</a>
        </div>
      </div>
      <div class="project-image mt-5 mt-md-0 col col-12 col-md-4 offset-lg-1 col-lg-5">
        <img
          src="https://images.unsplash.com/photo-1593642703013-5a3b53c965f6?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
          alt="">
        <img
          src="https://images.unsplash.com/photo-1593642702749-b7d2a804fbcf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="">
        <img class="obj-fit-cover" src="https://kravmagacenter.lu/assets/krav_pic/krav_37.jpg" alt="">
      </div>
    </div>


    <div class="project py-5 kravmaga featured row position-relative">
      <div class="project-content col col-12 col-md-8 offset-0 offset-lg-1 col-lg-4">
        <h3 class="fs-48 fw-bold">kravmaga</h3>

        <div class="mt-1tech-stack o-75">
          <span class="fw-bold fs-12 pe-2">2020</span>
          <span class="fw-bold fs-12 pe-2">frontend</span>
          <span class="fw-bold fs-12 pe-2">cms</span>
          <span class="fw-bold fs-12 pe-2">event-ms</span>
          <span class="fw-bold fs-12 pe-2">laravel</span>
          <span class="fw-bold fs-12 pe-2">integration</span>
        </div>
        <p class="mt-5 fs-14">
          KravMaga center is a Martial Arts Gym based in Luxembourg.
          The project consisted of the rebranding and development of their website. Development included a registration
          system, a blog, an event management system, and the integration of their existing online shop and academy
          platform.
        </p>
        <div class="d-flex justify-content-between">
          <a class="cta-link fw-bold uppercase fs-14" routerLink="/projects/kravmaga">case study</a>
          <a class="fake-link fw-bold uppercase fs-14" href="http://www.kravmagacenter.lu" target="_blank">visit
            website</a>
        </div>
      </div>
      <div class="project-image mt-5 mt-md-0 col col-12 col-md-4 offset-lg-1 col-lg-5">
        <img
          src="https://images.unsplash.com/photo-1593642703013-5a3b53c965f6?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
          alt="">
        <img
          src="https://images.unsplash.com/photo-1593642702749-b7d2a804fbcf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="">
        <img class="obj-fit-cover" src="https://kravmagacenter.lu/assets/krav_pic/krav_37.jpg" alt="">
      </div>
    </div>

  </div>

  <div class="space-1"></div>

  <a class="cta-link uppercase fw-bold fs-48" routerLink="/projects">More Projects</a>
</div>
