<div class="p-5 ">
  <h1 class="fw-bold fs-84">Journey</h1>
  <h3 class="fs-18 o-50">from zero to one (sorry, I'm speaking my language)</h3>

  <div class="space-1"></div>

  <div class="projects my-5">
    <div class="col-12 col-md-8 col-lg-6 offset-0 offset-md-1">
      <h3 class="fs-30 fw-bold">Software Engineering Internship, Setram</h3>
      <div class="o-50">
        <span class="o-50 fw-bold">March 2021 — September 2021</span>
      </div>
      <p class="mt-3 fw-light">
        During the internship I carried an enterprise project about Employees Performance Management. I designed and
        implemented a fully fledged solution for monitoring and managing employees, visualizing their data, and
        processing raw tramway data to produce insights for decision makers.
      </p>
      <a style="pointer-events: none" class="cta-link fw-bold uppercase fs-14">case study (COMING SOON)</a>
    </div>
  </div>

  <div class="projects my-5">
    <div class="col-12 col-md-8 col-lg-6 offset-0 offset-md-1">
      <h3 class="fs-30 fw-bold">Part-time Freelance</h3>
      <div class="o-50">
        <span class="o-50 fw-bold">December 2019 — Present</span>
      </div>
      <p class="mt-3 fw-light">
        In parallel with my university studies, I have had some freelance projects here and there. One of those, is the
        development of a website for the KravMaga Center based in Luxembourg.
      </p>
      <div class="d-flex justify-content-between">
        <a style="pointer-events: none" class="cta-link fw-bold uppercase fs-14">case study (COMING SOON)</a>
        <a target="_blank" href="https://kravmagacenter.lu" class="cta-link fw-bold uppercase fs-14">visit website</a>
      </div>
    </div>
  </div>


  <div class="projects my-5">
    <div class="col-12 col-md-8 col-lg-6 offset-0 offset-md-1">
      <h3 class="fs-30 fw-bold">Education: Computer Science — Software Engineer Degree</h3>
      <div class="o-50">
        <span class="o-50 fw-bold">September 2016 — September 2021</span>
      </div>
      <p class="mt-3 fw-light">
        During 5 years of university studies, I've had so much to learn through a well balanced curriculum (theory &
        projects). I had opportunities that allowed me to develop both technical and interpersonal skills. I'm very
        lucky to say, that I tasted almost everything related to Computer Science, starting from low-level (Assembly) up
        to Machine Learning. In recent years, I have focused more on Web Development, and spent quite some time on <a
          target="_blank" class="fs-14 fw-bold fake-link" href="https://www.freecodecamp.org">freeCodeCamp</a>.
      </p>
      <div class="d-flex justify-content-between">
        <a style="pointer-events: none" class="cta-link fw-bold uppercase fs-14">view degree (COMING SOON)</a>
        <a target="_blank" href="https://www.esi-sba.dz" class="cta-link fw-bold uppercase fs-14">visit school
          website</a>
      </div>
    </div>
  </div>
</div>
