<div style="padding-top: 128pxx !important;" class="kravmaga-case">
  <div class="wrapper d-flex">
    <div style="padding-top: 128px !important;" class="pin pin1 row p-5">
      <div class="col-12 col-md-4">
        <h1>KravMaga Center</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci error dignissimos minus dicta totam aliquam
          esse, rem expedita sapiente harum omnis minima reprehenderit ex dolorem ipsa veniam. Sapiente, dolorum quo.
        </p>
      </div>
      <div class="offset-0 offset-md-2 col-12 col-md-4">
        <img style="height: 800px; width: 300px;" class="kravvv"
          src="https://kravmagacenter.lu/assets/krav_pic/krav_37.jpg" alt="">
      </div>
    </div>
    <div style="padding-top: 128px !important;" class="pin pin2 row p-5">
      <div class="col-12 col-md-4">
        <h1>KravMaga Center</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci error dignissimos minus dicta totam aliquam
          esse, rem expedita sapiente harum omnis minima reprehenderit ex dolorem ipsa veniam. Sapiente, dolorum quo.
        </p>
      </div>
      <div class="offset-0 offset-md-2 col-12 col-md-4">
        <img style="height: 800px; width: 300px;" class="kravvv"
          src="https://kravmagacenter.lu/assets/krav_pic/krav_37.jpg" alt="">
      </div>
    </div>
    <div style="padding-top: 128px !important;" class="pin pin3 row p-5">
      <div class="col-12 col-md-4">
        <h1>KravMaga Center</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci error dignissimos minus dicta totam aliquam
          esse, rem expedita sapiente harum omnis minima reprehenderit ex dolorem ipsa veniam. Sapiente, dolorum quo.
        </p>
      </div>
      <div class="offset-0 offset-md-2 col-12 col-md-4">
        <img style="height: 800px; width: 300px;" class="kravvv"
          src="https://kravmagacenter.lu/assets/krav_pic/krav_37.jpg" alt="">
      </div>
    </div>
  </div>
</div>
