<div style="padding-top: 128pxx !important;" class="kravmaga-case">
  <div class="wrapper d-flex">
    <div style="padding-top: 128px !important;" class="pin pin1 row p-5">
      <div class="col-12 col-md-6">
        <h1 class="fw-bold fs-64">KravMaga Center</h1>
        <p class="fs-14">
          KravMaga center is a gym based in Luxembourg, dedicated to the practice and philosophy of Krav Maga: the
          Self-Defense, Fitness and Fighting.
        </p>
        <div class="space-3"></div>
        <h3 class="fw-bold fs-24">Project Overview</h3>
        <p class="fs-14">
          The project consisted of the rebranding and development of their website. Development included a registration
          system, a blog, an event management system, and the integration of their existing online shop and academy
          platform.
        </p>
      </div>
      <div class="offset-0 offset-md-1 col-12 col-md-5">
        <img class="w-100 h-100 obj-fit-cover" src="https://kravmagacenter.lu/assets/krav_pic/krav_37.jpg" alt="">
      </div>
    </div>
    <div style="padding-top: 128px !important;" class="pin pin2 row p-5">
      <div class="col-12 col-md-4">
        <h3 class="fw-bold fs-36">Discovery</h3>
        <p class="fs-14">
          The client needed a complete website rebrand and development, with additional new features.
        </p>
        <p class="fs-14">
          First, the website has to showcase the identity of the center, present enough (and clear) information about it
          (copywriting), and be fully responsive on all devices.
        </p>
        <p class="fs-14">
          The user experience had to be on point, guiding the users along their visit with well structured content and
          engaging call to actions, with the goal to increase conversions.
        </p>
        <p class="fs-14">
          Additionally, a set of features had to be implemented: Event Management System, Program Registrations, Blog,
          Integration of Programs Schedule from another platform, Internalization (English and French).
        </p>
      </div>
      <div class="offset-0 offset-md-2 col-12 col-md-4">
        <img style="height: 800px; width: 300px;" class="kravvv"
          src="https://kravmagacenter.lu/assets/krav_pic/krav_37.jpg" alt="">
      </div>
    </div>
    <div style="padding-top: 128px !important;" class="pin pin3 row p-5">
      <div class="col-12 col-md-4">
        <h3 class="fw-bold fs-36">Implementation</h3>
        <p class="fs-14">
          The old website was already running on php, the web host supporting only php, I carried on with it, and used
          the Laravel framework to develop the new website.
        </p>
        <p class="fs-14">
          Frontend was carefully crafted using mostly plain HTML/CSS and vanilla JavaScript, along with Bootstrap—to
          make layouts easily responsive. I used Laravel templating engine for serving the pages, and for the routing.
        </p>
        <p class="fs-14">
          Other features required some backend heavy lifting. The event management system allows the administrator of
          the website to schedule upcoming events, and to post feedback from the event. The Blog was implemented from
          scratch, but was fairly simple for their needs. Internalization was straight forward in Laravel. Through the
          admin panel, events, blog posts, registrations, and user inqueries can all be managed. Finally, their Programs
          Schedule was integrated through iframe tag provided by their Scheduling platform.
        </p>
        <div class="space-3"></div>
        <h3 class="fw-bold fs-24">Results</h3>
        <p class="fs-14 o-75">
          After testing thouroughly the functionality of all the features, the website was launched.
        </p>
      </div>
      <div class="offset-0 offset-md-2 col-12 col-md-4">
        <img style="height: 800px; width: 300px;" class="kravvv"
          src="https://kravmagacenter.lu/assets/krav_pic/krav_37.jpg" alt="">
      </div>
    </div>
    <div style="padding-top: 128px !important;" class="pin pin3 row p-5">
      <div class="col-12 col-md-4">
        <h3 class="fw-bold fs-24">Results</h3>
        <p class="fs-14 o-75">
          After testing thouroughly the functionality of all the features, the website was launched.
        </p>
      </div>
      <div class="offset-0 offset-md-2 col-12 col-md-4">
        <img style="height: 800px; width: 300px;" class="kravvv"
          src="https://kravmagacenter.lu/assets/krav_pic/krav_37.jpg" alt="">
      </div>
    </div>
  </div>
</div>
