<div style="min-height: 80px;" class="row px-5 py-3 py-md-0 justify-content-between align-items-center">
  <div class="col-12 col-md-6 d-flex justify-content-between">
    <div class="d-flex me-3">
      <a class="me-3 fs-18 footer-link" target="_blank" href="https://www.linkedin.com/in/morchid-chellali-15150513b/">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a class="me-3 fs-18 footer-link" target="_blank" href="https://github.com/Morched23MJ">
        <i class="fab fa-github"></i>
      </a>
      <a class="me-3 fs-18 footer-link" target="_blank" href="https://codepen.io/Morched23MJ/">
        <i class="fab fa-codepen"></i>
      </a>
      <a class="me-3 fs-18 footer-link" target="_blank" href="https://www.instagram.com/morched23mj/">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
    <div class="d-none ms-5">
      <a class="fs-16 footer-link me-3" routerLink="/privacy">privacy</a>
      <a class="fs-16 footer-link" routerLink="/terms">terms</a>
    </div>
  </div>
  <div class="copyright mt-3 mt-md-0 col-12 col-md-6 d-flex justify-content-end">
    <p class="m-0 fs-14">made with coffee and passion — © <span class="cyear"></span> morch23mj</p>
  </div>
</div>
