@import 'color-palette'
@import 'fonts'
@import '../../../../node_modules/locomotive-scroll/dist/locomotive-scroll.css'

html
    // height: 100% !important

body
    // height: 4000px !important
    background: rgba(#111, 1) !important
    color: white !important
    font-family: Raisonne, sans-serif
    // cursor: none

*
    padding: 0
    margin: 0
    box-sizing: border-box
    z-index: inherit
    //transition: .15s ease-in-out all


.cursor
  display: none
  width: 10px
  height: 10px
  background: white
  border-radius: 50%
  position: absolute
  transition-duration: 50ms
  transition-timing-function: ease-out
  animation: pulse
  // &::after
  //   content: ""
  //   width: 40px
  //   height: 40px
  //   border: 1px solid white
  //   border-radius: 50%
  //   position: absolute
  //   transition-duration: 500ms
  //   transition-timing-function: ease-out


.cursor-outer
  display: none
  width: 5px
  height: 5px
  background: white
  border-radius: 50%
  position: absolute
  transition-duration: 500ms
  transition-timing-function: ease-out
  // animation: floating 3s infinite

.expand
  animation: clicked 1s forwards

@keyframes clicked
  0%
    transform: scale(1)
  30%
    transform: scale(.3)
  100%
    transform: scale(1)


@keyframes floating
  0%
    transform: translate3d(4px, 4px, 4px)
  30%
    transform: translate3d(10px, 10px, 4px)
  60%
    transform: translate3d(20px, 10px, 20px)
  100%
    transform: translate3d(4px, 4px, 4px)



.route-trans-overlay
  background: darken(red, .5)
  position: absolute
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  z-index: 1000
  overflow: hidden
