@import 'color-palette'
@import 'fonts'
@import '../../../../node_modules/locomotive-scroll/dist/locomotive-scroll.css'

html
    // height: 100% !important

body
    // height: 4000px !important
    background: rgba(#111, 1) !important
    color: white !important
    font-family: Roboto

*
    padding: 0
    margin: 0
    box-sizing: border-box
    //transition: .15s ease-in-out all
