<nav style="" class="p-5 d-flex justify-content-between align-items-center">
  <div class="brand">
    <span class="fs-24 fw-bold">morch23mj</span>
  </div>
  <div class="menu d-flex align-items-center">
    <div class="d-flex flex-column me-2">
      <div class="mb-1" style="width: 15px; height: 2px; background: white"></div>
      <div class="mb-1" style="width: 15px; height: 2px; background: white"></div>
    </div>
    <div style="position: relative; top: -3px">menu</div>
  </div>
  <div class="menu-content">
    <div class="links ps-5">
      <ul class="fake-list p-0 m-0">
        <li>
          <a class="fs-64 fw-bold fake-link" routerLink="/">
            Home
          </a>
        </li>
        <li>
          <a class="fs-64 fw-bold fake-link" routerLink="/about">
            About
          </a>
        </li>
        <li>
          <a class="fs-64 fw-bold fake-link" routerLink="/projects">
            Projects
          </a>
        </li>
        <li>
          <a class="fs-64 fw-bold fake-link" routerLink="/contact">
            Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
