<nav style="" class="p-5 d-flex justify-content-between align-items-center">
  <div class="brand">
    <a class="fs-24 fw-bold fake-link" routerLink="/">
      morch23mj
    </a>

  </div>
  <div class="menu d-flex align-items-center">
    <div class="d-flex flex-column me-2">
      <div class="mb-1" style="width: 15px; height: 2px; background: white"></div>
      <div class="mb-1" style="width: 15px; height: 2px; background: white"></div>
    </div>
    <div style="position: relative; top: -3px">menu</div>
  </div>
  <div style="width: 100vw; height: 100vh; left: 0; top: 0; filter: blur(30px);"
    class="d-none purple position-absolute blurred"></div>
  <div class="menu-content">
    <div class="links">
      <div class="fake-list d-flex flex-column align-items-center">
        <a class="fs-56 fw-bold text-outline navbar-link" (click)="toggleMenu()" data-text="Home" routerLink="/">
          Home
        </a>
        <a class="fs-56 fw-bold text-outline navbar-link" (click)="toggleMenu()" data-text="About" routerLink="/about">
          About
        </a>
        <a class="fs-56 fw-bold text-outline navbar-link" (click)="toggleMenu()" data-text="Portfolio"
          routerLink="/projects">
          Portfolio
        </a>
        <a class="fs-56 fw-bold text-outline navbar-link" (click)="toggleMenu()" data-text="Contact"
          routerLink="/contact">
          Contact
        </a>
        <div class="d-flex justify-content-center mt-5">
          <a class="me-3 fs-24 footer-link" target="_blank"
            href="https://www.linkedin.com/in/morchid-chellali-15150513b/">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a class="me-3 fs-24 footer-link" target="_blank" href="https://github.com/Morched23MJ">
            <i class="fab fa-github"></i>
          </a>
          <a class="me-3 fs-24 footer-link" target="_blank" href="https://codepen.io/Morched23MJ/">
            <i class="fab fa-codepen"></i>
          </a>
          <a class="fs-24 footer-link" target="_blank" href="https://www.instagram.com/morched23mj/">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
