<nav style="height: 75px;" class="purple p-3 px-5 d-flex justify-content-between align-items-center">
  <div class="brand">
    <span class="fw-bold italic">morch23mj</span>
  </div>
  <div class="links">
    <span class="mx-3" [routerLink]="['/']" routerLinkActive="router-link-active">Home</span>
    <span class="mx-3" [routerLink]="['/about']" routerLinkActive="router-link-active">About</span>
    <span class="ml-3" [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact</span>
  </div>
</nav>
