<div style="min-height: calc(100vh - 80px);" class="position-relative">
  <div class="contact-content p-5">
    <div>
      <h1 class="d-none fw-bold fs-48">Reach out</h1>
    </div>
    <h3 class=" o-50">always open to unexpected opportunities</h3>
    <h3 class=""><span class=" o-50">hit my inbox </span> <a href="mailto:morch23mj@gmail.com"
        class="fake-link">morch23mj@gmail.com</a></h3>
    <div class="space-1"></div>
    <a class="cta-link fw-bold fs-14 uppercase" routerLink="/cv">download CV</a>
  </div>
  <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.05" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.03)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.01)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(255,255,255,0.06)" />
      </g>
    </svg>
  </div>
</div>



































<!-- <div style="" class="contact overflow-hidden">
  <div class="row mb-5">
    <div class="col col-12 col-md-4 px-3">
      <div style="background-color: rgba(0, 0, 0, 0.9);">
        <img style="max-height: 250px; border-radius: 8px 8px 0 0;" class="obj-fit-cover w-100"
          src="https://via.placeholder.com/150" alt="">
        <div class="p-3">
          <h1 class="fs-24">Heavy Bag Class Workout</h1>
          <p class="fs-14">
            Tous ce que vous avez besoin pour participer à notre bag class de votre maison
          </p>
        </div>
      </div>
    </div>
    <div class="col col-12 col-md-4 px-3">
      <div style="background-color: rgba(0, 0, 0, 0.9);">
        <img style="max-height: 250px; border-radius: 8px 8px 0 0;" class="obj-fit-cover w-100"
          src="https://via.placeholder.com/150" alt="">
        <div class="p-3">
          <h1 class="fs-24">
            Krav Maga pour enfants
          </h1>
          <p class="fs-14">
            Un programme spécialement dédié aux plus jeunes. Faisons d'eux des champions dans le sport et dans la vie.
          </p>
        </div>
      </div>
    </div>
    <div class="col col-12 col-md-4 px-3">
      <div style="background-color: rgba(0, 0, 0, 0.9);">
        <img style="max-height: 250px; border-radius: 8px 8px 0 0;" class="obj-fit-cover w-100"
          src="https://via.placeholder.com/150" alt="">
        <div class="p-3">
          <h1 class="fs-24">Self-Defense Krav Maga pour adultes</h1>
          <p class="fs-14">
            Tout ce que vous avez besoin afin de pouvoir commencer vos entraînements à la maison
          </p>
        </div>
      </div>
    </div>
  </div>
  <div style="flex-wrap: nowrap; width: 200%; " class="hors purple d-flex">
    <div class="hor w-100 orange" style="height: 100vh;">
      <h3>
        Cool
      </h3>
    </div>
    <div class="hor hor2 w-100 orange" style="height: 100vh;">
      <h3>
        Alright
      </h3>
    </div>
  </div>
  <div class="yellow" style="height: 200px;">3</div>
  <div class="blue" style="height: 200px;">2</div>
  <div style="overflow: hidden; height: 100vh;" class="abc w-100">
    <div class="position-absolute w-100 a orange" style="height: 100%;">
      <h1>
        AAA
      </h1>
    </div>
    <div class="position-absolute w-100 b blue" style="height: 100%;">
      <h1 class="fs-64">
        BBB
      </h1>
    </div>
    <div class="position-absolute w-100 c yellow" style="height: 100%;">
      <h3>
        CCC
      </h3>
    </div>
  </div>

  <div style="overflow: hidden; height: 100vh;" class="efg w-100">
    <div class="position-absolute w-100 e orange" style="height: 100%;">
      <h1>
        Here's how I do it...
      </h1>
      <ul>
        <li>122121</li>
        <li>122121</li>
        <li>122121</li>
      </ul>
    </div>
    <div class="position-absolute w-100 f blue" style="height: 100%;">
      <div class="f-wrapper">
        <h1 class="fs-64">
          Want more?
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, quia laudantium soluta sed quo hic
          quibusdam
          rerum aliquid, eveniet expedita pariatur reprehenderit. Sapiente et quis laboriosam magnam velit mollitia
          eligendi.
        </p>
      </div>
    </div>
    <div class="position-absolute w-100 g yellow" style="height: 100%;">
      <h3>
        GGG
      </h3>
    </div>
  </div>
  <div class="green" style="height: 200px;">4</div>
  <div class="x orange" style="height: 100vh;">
    <h3>
      X
    </h3>
  </div>
  <div class="y orange" style="height: 100vh;">
    <h3>
      Y
    </h3>
  </div>
  <div class="green" style="height: 200px;">4</div>
  <div class="green" style="height: 200px;">4</div>
</div> -->
