<div class="contact">
  <div class="yellow" style="height: 200px;">3</div>
  <div class="blue" style="height: 200px;">2</div>
  <div style="overflow: hidden; height: 100vh;" class="abc w-100">
    <div class="position-absolute w-100 a orange" style="height: 100%;">
      <h1>
        AAA
      </h1>
    </div>
    <div class="position-absolute w-100 b blue" style="height: 100%;">
      <h1 class="fs-64">
        BBB
      </h1>
    </div>
    <div class="position-absolute w-100 c yellow" style="height: 100%;">
      <h3>
        CCC
      </h3>
    </div>
  </div>

  <div style="overflow: hidden; height: 100vh;" class="efg w-100">
    <div class="position-absolute w-100 e orange" style="height: 100%;">
      <h1>
        Here's how I do it...
      </h1>
      <ul>
        <li>122121</li>
        <li>122121</li>
        <li>122121</li>
      </ul>
    </div>
    <div class="position-absolute w-100 f blue" style="height: 100%;">
      <div class="f-wrapper">
        <h1 class="fs-64">
          Want more?
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, quia laudantium soluta sed quo hic
          quibusdam
          rerum aliquid, eveniet expedita pariatur reprehenderit. Sapiente et quis laboriosam magnam velit mollitia
          eligendi.
        </p>
      </div>
    </div>
    <div class="position-absolute w-100 g yellow" style="height: 100%;">
      <h3>
        GGG
      </h3>
    </div>
  </div>
  <div class="green" style="height: 200px;">4</div>
  <div class="x orange" style="height: 100vh;">
    <h3>
      X
    </h3>
  </div>
  <div class="y orange" style="height: 100vh;">
    <h3>
      Y
    </h3>
  </div>
  <div class="green" style="height: 200px;">4</div>
  <div class="green" style="height: 200px;">4</div>
</div>
