<div class="pt-5">
  <div class="mt-5">
    <div class="space-1"></div>
    <div class="row align-items-center">
      <div class="p-5 p-md-0 offset-0 offset-md-2 col-12 col-md-4">
        <img style="border-radius: 50%;" class="w-100 obj-fit-cover profile-image" src="../../../assets/morch23mj.jpg"
          alt="">
      </div>
      <div class="about-hero position-relative wrapper p-5 p-md-0 offset-0 offset-md-1 col-12 col-md-4">
        <!-- <h3 class="fw-bold fs-20 o-50">About</h3> -->
        <h3 class="fw-bold fs-84">
          Morchid Chellali
        </h3>
        <p class="mt-3 w-75 fw-light fs-14 o-75">
          I am a newly graduated Software Engineer, based in Algeria. I am fresh, disciplined, and ready to conquer the
          digital world.
        </p>
      </div>
    </div>
  </div>
  <div class="space-5"></div>
  <app-expertise></app-expertise>
  <div class="space-3"></div>
  <app-journey></app-journey>
  <!-- <app-featured></app-featured> -->
  <app-extfooter></app-extfooter>
</div>






















<!-- <div class="about">
  <h1 data-scroll data-scroll-direction="horizontal" data-scroll-speed="-1">About meh,</h1>
  <div style="height: 200px;">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti placeat modi cumque similique error expedita
      est doloribus quo eum adipisci autem sapiente hic natus animi, voluptates saepe laudantium velit quas!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti placeat modi cumque similique error expedita
      est doloribus quo eum adipisci autem sapiente hic natus animi, voluptates saepe laudantium velit quas!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti placeat modi cumque similique error expedita
      est doloribus quo eum adipisci autem sapiente hic natus animi, voluptates saepe laudantium velit quas!</p>
  </div>
  <div class="w-50 blue red" style="margin-top: 500px;height: 200px;">1</div>
  <div style="height: 200px;">1</div>
  <div data-scroll data-scroll-speed="5" style="height: 200px;" class="d-flex">
    <div data-scroll data-scroll-direction="horizontal" data-scroll-speed="3" style="width: 900px;" class="yellow">H1
    </div>
    <div data-scroll data-scroll-direction="horizontal" data-scroll-speed="-3" style="width: 900px;" class="purple">H2
    </div>
  </div>
  <div data-scroll data-scroll-speed="0" style="height: 200px;">6</div>
  <div style="height: 200px;">1</div>
  <div style="height: 200px;">1</div>
</div> -->
