<div class="about">
  <h1 data-scroll data-scroll-direction="horizontal" data-scroll-speed="-1">About meh,</h1>
  <div style="height: 200px;">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti placeat modi cumque similique error expedita
      est doloribus quo eum adipisci autem sapiente hic natus animi, voluptates saepe laudantium velit quas!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti placeat modi cumque similique error expedita
      est doloribus quo eum adipisci autem sapiente hic natus animi, voluptates saepe laudantium velit quas!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti placeat modi cumque similique error expedita
      est doloribus quo eum adipisci autem sapiente hic natus animi, voluptates saepe laudantium velit quas!</p>
  </div>
  <div style="height: 200px;">1</div>
  <div style="height: 200px;">1</div>
  <div data-scroll data-scroll-speed="5" style="height: 200px;" class="d-flex">
    <div data-scroll data-scroll-direction="horizontal" data-scroll-speed="3" style="width: 900px;" class="yellow">H1
    </div>
    <div data-scroll data-scroll-direction="horizontal" data-scroll-speed="-3" style="width: 900px;" class="purple">H2
    </div>
  </div>
  <div data-scroll data-scroll-speed="0" style="height: 200px;">6</div>
  <div style="height: 200px;">1</div>
  <div style="height: 200px;">1</div>
  <div style="height: 200px;">1</div>
</div>
