<div class="">
  <div class="noisy"></div>
  <div class="cursor"></div>
  <div class="cursor-outer"></div>
  <app-navbar style="position: fixed; z-index: 999;" class="w-100"></app-navbar>
  <div style="z-index: 10;" class="overflow-hidden scroll-container page-container" data-scroll-container
    #scrollContent>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
  <div *ngIf="loading$ | async" class="route-trans-overlay purple w-100">
    <h1>
      morch23mj
    </h1>
  </div>
</div>
