<div class="portfolio p-5">

  <div class="space-5"></div>

  <h1 class="fw-bold fs-84">Portfolio</h1>
  <h3 class="fs-18 o-50">always open to unexpected opportunities</h3>

  <div class="space-1"></div>

  <div class="projects my-5">

    <div class="project py-5 setram featured row position-relative">
      <div class="project-content col col-12 col-md-8 offset-0 offset-lg-1 col-lg-4">
        <h3 class="fs-48 fw-bold">setram</h3>

        <div class="mt-1tech-stack o-75">
          <span class="fw-bold fs-12 pe-2">2021</span>
          <span class="fw-bold fs-12 pe-2">angular</span>
          <span class="fw-bold fs-12 pe-2">nodejs</span>
          <span class="fw-bold fs-12 pe-2">d3.js</span>
          <span class="fw-bold fs-12 pe-2">nebular</span>
        </div>
        <p class="mt-5 fs-14">
          KravMaga center is a Martial Arts Gym based in Luxembourg.
          The project consisted of the rebranding and development of their website. Development included a registration
          system, a blog, an event management system, and the integration of their existing online shop and academy
          platform.
        </p>
        <div class="d-flex justify-content-between">
          <a class="cta-link fw-bold uppercase fs-14" routerLink="/projects/setram">case study</a>
        </div>
      </div>
      <div class="project-image mt-5 mt-md-0 col col-12 col-md-4 offset-lg-1 col-lg-5">
        <img
          src="https://images.unsplash.com/photo-1593642703013-5a3b53c965f6?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
          alt="">
        <img
          src="https://images.unsplash.com/photo-1593642702749-b7d2a804fbcf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="">
        <img class="obj-fit-cover" src="https://kravmagacenter.lu/assets/krav_pic/krav_37.jpg" alt="">
      </div>
    </div>

    <div class="project py-5 kravmaga featured row position-relative">
      <div class="project-content col col-12 col-md-8 offset-0 offset-lg-1 col-lg-4">
        <h3 class="fs-48 fw-bold">kravmaga</h3>

        <div class="mt-1tech-stack o-75">
          <span class="fw-bold fs-12 pe-2">2020</span>
          <span class="fw-bold fs-12 pe-2">frontend</span>
          <span class="fw-bold fs-12 pe-2">cms</span>
          <span class="fw-bold fs-12 pe-2">event-ms</span>
          <span class="fw-bold fs-12 pe-2">laravel</span>
          <span class="fw-bold fs-12 pe-2">integration</span>
        </div>
        <p class="mt-5 fs-14">
          KravMaga center is a Martial Arts Gym based in Luxembourg.
          The project consisted of the rebranding and development of their website. Development included a registration
          system, a blog, an event management system, and the integration of their existing online shop and academy
          platform.
        </p>
        <div class="d-flex justify-content-between">
          <a class="cta-link fw-bold uppercase fs-14" routerLink="/projects/kravmaga">case study</a>
          <a class="fake-link fw-bold uppercase fs-14" href="http://www.kravmagacenter.lu" target="_blank">visit
            website</a>
        </div>
      </div>
      <div class="project-image mt-5 mt-md-0 col col-12 col-md-4 offset-lg-1 col-lg-5">
        <img
          src="https://images.unsplash.com/photo-1593642703013-5a3b53c965f6?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
          alt="">
        <img
          src="https://images.unsplash.com/photo-1593642702749-b7d2a804fbcf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="">
        <img class="obj-fit-cover" src="https://kravmagacenter.lu/assets/krav_pic/krav_37.jpg" alt="">
      </div>
    </div>

    <div class="project py-5 growthy featured row position-relative">
      <div class="project-content col col-12 col-md-8 offset-0 offset-lg-1 col-lg-4">
        <h3 class="fs-48 fw-bold">growthy</h3>

        <div class="mt-1tech-stack o-75">
          <span class="fw-bold fs-12 pe-2">2020</span>
          <span class="fw-bold fs-12 pe-2">angular</span>
          <span class="fw-bold fs-12 pe-2">firebase-api</span>
          <span class="fw-bold fs-12 pe-2">chrome-extension</span>
        </div>
        <p class="mt-5 fs-14">
          Growthy is a chrome extension that aims to educate children while they're watching YouTube, by
          interval-pausing YouTube and presenting a set of educational games.
          During this project, I participated in the system design and I was responsible of the implementation of the
          extension UI using Angular and Firebase. In addition, I learned a bit about the chrome extension ecosystem.
        </p>
        <div class="d-flex justify-content-between">
          <a class="cta-link fw-bold uppercase fs-14" routerLink="/projects/kravmaga">case study</a>
          <a class="fake-link fw-bold uppercase fs-14" href="http://www.kravmagacenter.lu" target="_blank">visit
            repo</a>
        </div>
      </div>
      <div class="project-image mt-5 mt-md-0 col col-12 col-md-4 offset-lg-1 col-lg-5">
        <img
          src="https://images.unsplash.com/photo-1593642703013-5a3b53c965f6?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
          alt="">
        <img
          src="https://images.unsplash.com/photo-1593642702749-b7d2a804fbcf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="">
        <img class="obj-fit-cover" src="https://kravmagacenter.lu/assets/krav_pic/krav_37.jpg" alt="">
      </div>
    </div>

    <div class="project py-5 ismdb featured row position-relative">
      <div class="project-content col col-12 col-md-8 offset-0 offset-lg-1 col-lg-4">
        <h3 class="fs-48 fw-bold">ismdb</h3>

        <div class="mt-1tech-stack o-75">
          <span class="fw-bold fs-12 pe-2">2019</span>
          <span class="fw-bold fs-12 pe-2">frontend</span>
          <span class="fw-bold fs-12 pe-2">django</span>
          <span class="fw-bold fs-12 pe-2">api</span>
        </div>
        <p class="mt-5 fs-14">
          IsMDb is a platform similar to IMDb but for the Muslim community. It presents a catalog of movies rated on
          different criteria (that are against the religion principles) such as alcohol and nudity.
          I was involved in the system design of this website, and was the lead frontend developer and worked in close
          collab. with 2 backend developers. I got the chance to hone my frontend skills, and to slightly learn about
          Django.
        </p>
        <div class="d-flex justify-content-between">
          <a class="cta-link fw-bold uppercase fs-14" routerLink="/projects/kravmaga">case study</a>
          <a class="fake-link fw-bold uppercase fs-14" href="http://www.kravmagacenter.lu" target="_blank">visit
            repo</a>
        </div>
      </div>
      <div class="project-image mt-5 mt-md-0 col col-12 col-md-4 offset-lg-1 col-lg-5">
        <img
          src="https://images.unsplash.com/photo-1593642703013-5a3b53c965f6?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
          alt="">
        <img
          src="https://images.unsplash.com/photo-1593642702749-b7d2a804fbcf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="">
        <img class="obj-fit-cover" src="https://kravmagacenter.lu/assets/krav_pic/krav_37.jpg" alt="">
      </div>
    </div>

  </div>

  <div class="space-5"></div>

  <h1 class="fw-bold fs-84">Side Projects</h1>
  <h3 class="fs-18 o-50">explore tast tech new old ledacy</h3>

  <div class="space-1"></div>

  <div class="projects my-5">

    <div class="project py-5 estore featured row position-relative">
      <div class="project-content col col-12 col-md-8 offset-0 offset-lg-1 col-lg-4">
        <h3 class="fs-48 fw-bold">alwayscart</h3>

        <div class="mt-1tech-stack o-75">
          <span class="fw-bold fs-12 pe-2">2020</span>
          <span class="fw-bold fs-12 pe-2">microservices</span>
          <span class="fw-bold fs-12 pe-2">java/spring</span>
        </div>
        <p class="mt-5 fs-14">
          AlwaysCart is a microservices backend application implemented using Spring (Java framework).
          During this project, I learned alot: microservices architecture, communication, load-balancing, ...

        </p>
        <div class="d-flex justify-content-between">
          <a class="cta-link fw-bold uppercase fs-14" routerLink="/projects/setram">see video</a>
          <a class="fake-link fw-bold uppercase fs-14" routerLink="/projects/setram">visit repo</a>
        </div>
      </div>
      <div class="project-image mt-5 mt-md-0 col col-12 col-md-4 offset-lg-1 col-lg-5">
        <img
          src="https://images.unsplash.com/photo-1593642703013-5a3b53c965f6?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
          alt="">
        <img
          src="https://images.unsplash.com/photo-1593642702749-b7d2a804fbcf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="">
        <img class="obj-fit-cover" src="https://kravmagacenter.lu/assets/krav_pic/krav_37.jpg" alt="">
      </div>
    </div>


    <div class="project py-5 elearn featured row position-relative">
      <div class="project-content col col-12 col-md-8 offset-0 offset-lg-1 col-lg-4">
        <h3 class="fs-48 fw-bold">inclass</h3>

        <div class="mt-1tech-stack o-75">
          <span class="fw-bold fs-12 pe-2">2020</span>
          <span class="fw-bold fs-12 pe-2">angular</span>
          <span class="fw-bold fs-12 pe-2">nodejs</span>
          <span class="fw-bold fs-12 pe-2">mongodb/gridfs</span>
          <span class="fw-bold fs-12 pe-2">auth:jwt</span>
        </div>
        <p class="mt-5 fs-14">
          InClass is an e-learning application, where teachers are able to create courses that students can later
          access.

        </p>
        <div class="d-flex justify-content-between">
          <a class="cta-link fw-bold uppercase fs-14" routerLink="/projects/kravmaga">see video</a>
          <a class="fake-link fw-bold uppercase fs-14" href="http://www.kravmagacenter.lu" target="_blank">visit
            repo</a>
        </div>
      </div>
      <div class="project-image mt-5 mt-md-0 col col-12 col-md-4 offset-lg-1 col-lg-5">
        <img
          src="https://images.unsplash.com/photo-1593642703013-5a3b53c965f6?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
          alt="">
        <img
          src="https://images.unsplash.com/photo-1593642702749-b7d2a804fbcf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="">
        <img class="obj-fit-cover" src="https://kravmagacenter.lu/assets/krav_pic/krav_37.jpg" alt="">
      </div>
    </div>

  </div>

  <div class="space-1"></div>

  <app-extfooter></app-extfooter>
</div>
