<div>
  <div style="height: calc(100vh);" class="hero pt-5">
    <div class="wrapper p-5 mt-5 col-12 col-lg-11">
      <h1 class="to-outline fw-bold mt-5 fs-64">
        <span class="text-outline text-outline-hover" data-text="hola! i'm a">hola! i'm a</span> software engineer<span
          class="text-outline text-outline-hover" data-text="with expertise in"> with expertise in</span> web
        development<span class="text-outline text-outline-hover" data-text="and a keen interest in"> and a keen interest
          in</span> reactive programming.
      </h1>
    </div>
  </div>

  <div class="marquee d-flex w-100">
    <div class="fw-bold fs-64 ps-3">A super super super super long title.A super super super super long title.A super super super super long title.A super super super super long title.A super super super super long title.</div>
    <div class="fw-bold fs-64 ps-3">A super super super super long title.</div>
    <div class="fw-bold fs-64 ps-3">A super super super super long title.</div>
    <div class="fw-bold fs-64 ps-3">A super super super super long title.</div>
    <div class="fw-bold fs-64 ps-3">A super super super super long title.</div>
    <div class="fw-bold fs-64 ps-3">A super super super super long title.</div>
  </div>

  <div style="height: calc(100vh);" class="underhero pt-5">
    <div class="row">
      <div class="col-0 col-lg-6"></div>
      <div class="wrapper p-5 mt-5 col-12 col-lg-5 o-75">
        <p class="fw-light">
          Throughout my educational career, I have had the opportunity to gain a broad view of the field and to learn a
          wide array of concepts and technologies—from bare metal x86 Assembly and Pascal, up to Microservices and ML.
        </p>
        <p class="fw-light">
          This in turn has helped me become better at analyzing and solving a given problem.
        </p>
        <p class="fw-light">
          I have a keen interest in Web Development with a solid grip of JavaScript Async Reactive Programming (Proficient in
          Angular/NodeJS), and a healthy sense of Design.
        </p>
        <a class="cta-link fw-bold uppercase fs-14" routerLink="/about">learn more about me</a>
      </div>
    </div>
  </div>

  <app-featured></app-featured>
  <div class="space-3"></div>
  <app-extfooter></app-extfooter>
</div>
