<div>
  <div style="height: calc(100vh);" class="hero pt-5">
    <div class="wrapper p-5 mt-5 col-12 col-lg-11">
      <h1 class="to-outline fw-bold mt-5 fs-64">
        <span class="text-outline text-outline-hover" data-text="hola! i'm a">hola! i'm a</span> software engineer<span
          class="text-outline text-outline-hover" data-text="with expertise in"> with expertise in</span> web
        development<span class="text-outline text-outline-hover" data-text="and a keen interest in"> and a keen interest
          in</span> reactive programming.
      </h1>
    </div>
  </div>
  <div class="d-none typing-demo">
    This is a typing demo.
  </div>
  <div class="p-scroll-btn">
    <span class="p-scroll-btn__txt fs-12">SCROLL</span>
  </div>

  <div class="space-3"></div>

  <div class="marquee d-flex w-100">
    <div class="fw-bold fs-64 ps-3">
      23 bytes about me. 23 bytes about me. 23 bytes about me. 23 bytes about me. 23 bytes about me.
    </div>
  </div>

  <div style="height: calc(100vh);" class="underhero pt-5">
    <div class="row">
      <div class="col-0 col-lg-6"></div>
      <div class="wrapper p-5 mt-5 col-12 col-lg-5 o-75">
        <p class="fw-light">
          Throughout my educational career, I have had the opportunity to gain a broad view of the field and to learn a
          wide array of concepts and technologies—from bare metal x86 Assembly and Pascal, up to Microservices and ML.
        </p>
        <p class="fw-light">
          This in turn has helped me become better at analyzing and solving a given problem.
        </p>
        <p class="fw-light">
          I have a keen interest in Web Development with a solid grip of JavaScript Async Reactive Programming
          (Proficient in
          Angular/NodeJS), and a healthy sense of Design.
        </p>
        <a class="cta-link fw-bold uppercase fs-14" routerLink="/about">learn more about me</a>
      </div>
    </div>
  </div>

  <div class="section" id="two">
    <div class="d-flex  position-relative">
      <div class="sticky-container">
        <div style="position: sticky; top: 0" class="sticky"> <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/logo-man.svg"> </div>
      </div>

      <div class="content position-">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, molestiae. Minus nesciunt expedita iure ullam
        earum esse voluptates vel nihil? Voluptates animi nemo sequi suscipit, ipsum vitae, ipsa, molestias consequatur
        porro esse odit et numquam exercitationem fugiat dolorem illum. Et ratione similique suscipit corporis eum ut
        culpa ullam iure, fugiat quam nobis quod explicabo, maxime vero corrupti magnam repudiandae. Laboriosam
        asperiores porro deserunt animi, amet qui reprehenderit ut sapiente voluptas veritatis nulla iure blanditiis
        mollitia corrupti quae voluptatum perspiciatis aliquid est aliquam? Ab ex unde autem magni recusandae mollitia
        voluptatibus libero debitis velit adipisci, dolore repudiandae voluptates omnis rerum et vitae repellendus rem?
        Esse accusantium illo quis, quae adipisci sit totam consectetur architecto. Deserunt voluptate ullam dolore
        necessitatibus aliquid distinctio ducimus corrupti voluptates atque, quibusdam nemo deleniti, at adipisci dicta
        iusto aperiam quisquam esse numquam laudantium assumenda? Aperiam iure nobis deserunt maiores at velit, dolore
        labore iusto quaerat quis pariatur non dicta, ipsam magnam nulla! Sapiente sed at laudantium consequatur
        eligendi earum error accusantium nulla, id nam, molestiae et delectus! Inventore iure velit officiis magni
        voluptatem exercitationem, possimus sapiente porro architecto, illum rem qui dolores facere voluptas dicta
        eveniet quibusdam dolorum magnam repellendus eum pariatur nisi ipsa? Ex aliquid assumenda nemo animi blanditiis
        odit? Aliquam illo debitis minima harum blanditiis voluptatibus suscipit numquam delectus aspernatur illum eaque
        ut animi voluptatem, facilis doloribus distinctio autem maiores quaerat, soluta sed unde atque recusandae.
        Perspiciatis ex natus, possimus, earum blanditiis in, ratione at quidem perferendis voluptate dolor illo
        repellendus a accusamus recusandae delectus soluta nam provident. Consequatur esse soluta eveniet ratione in?
        Saepe dolor ullam fugit nesciunt eos exercitationem voluptate omnis repellendus excepturi vel cupiditate
        pariatur quasi harum ipsum ipsa explicabo nostrum et, dolore eaque voluptatibus illum alias! Quo, commodi. Quo,
        aspernatur! Maxime, atque ab. Quidem veritatis nisi cupiditate culpa! Harum saepe fuga libero sapiente porro
        itaque. Sed quod illum amet libero minus. Distinctio provident enim excepturi temporibus ea aut porro molestias
        error dolores voluptatibus quod tempore incidunt cumque quae deleniti magni nulla natus dignissimos voluptatem
        esse, eos reprehenderit tempora repudiandae accusamus! Illum maiores hic tempore tempora quos minima, quam
        accusamus doloremque quisquam qui fugiat, quo, rerum esse! Hic impedit, excepturi sit ipsa dolorum optio quidem
        quaerat obcaecati aspernatur provident ducimus voluptates soluta. Facilis quae dolorem ratione dolor laboriosam
        nisi doloremque voluptatum perferendis iste consequatur nulla voluptatibus magnam optio laudantium sit maiores
        eveniet accusantium possimus minus, aut repellat excepturi! Repellat eaque, inventore expedita excepturi
        perferendis quisquam exercitationem fuga iure cum voluptatem modi! Cum nam quia esse ipsam perferendis iste.
        Veritatis doloremque laborum architecto debitis? Nobis soluta repellat impedit minima fuga, omnis itaque iste
        numquam ratione maiores rem debitis necessitatibus! Eligendi dignissimos eveniet facere rem debitis. Illum,
        adipisci nihil pariatur tempora est quam incidunt at sapiente, repellendus ipsum assumenda reprehenderit. Animi
        neque aut et ipsa eveniet ipsam ratione hic, quibusdam doloribus repudiandae aspernatur alias quos fugit itaque.
        Doloremque harum ipsum nobis facilis, voluptates ipsam illo eius aut ratione repellat doloribus eos eveniet
        beatae magni, libero dolorum iusto molestias perferendis assumenda labore dolore quia! Laboriosam dolore
        voluptate itaque eaque consequuntur eius consequatur, laudantium provident placeat? Corporis, doloribus deleniti
        sunt explicabo esse et aperiam sint minus quod vitae saepe iste soluta, excepturi tenetur dolorem, accusamus
        maxime officia maiores! Omnis maxime quas ipsa expedita alias! Quasi, atque nesciunt? Fugiat, culpa? Minus,
        beatae impedit atque delectus est quas exercitationem numquam facere harum iure distinctio a doloremque nulla.
        Velit, saepe necessitatibus amet doloribus sunt quibusdam soluta fuga, architecto eveniet harum mollitia. Cum
        dicta eos fuga nam veritatis eaque, sit error voluptates aspernatur est ipsam ullam doloremque soluta sint,
        laudantium totam voluptate neque adipisci molestiae natus hic? Repellat, aspernatur adipisci consequuntur
        laudantium in accusantium soluta dolores fuga nemo? Eaque, officiis iure, mollitia corporis ea, eligendi
        laudantium earum saepe non temporibus vitae reprehenderit perferendis illum magnam sapiente atque aliquid ipsa
        asperiores dolore. Recusandae natus, ab, magnam aspernatur maiores accusamus incidunt quod, ad dolore beatae
        eum. Commodi beatae laudantium iusto quos voluptatibus debitis tempora, iste officia perferendis est, soluta
        modi! Eum dolorum delectus aliquam, sapiente ullam molestiae sunt expedita aut quam. Omnis aliquam impedit
        quisquam recusandae repellendus temporibus harum natus? Odit exercitationem blanditiis tempore molestiae
        distinctio quidem totam laudantium cumque tempora quas officiis porro optio dolores et perferendis, culpa
        voluptatem corrupti pariatur recusandae. Recusandae, ipsam dolore. Maxime, commodi dignissimos expedita
        voluptatum eaque deleniti soluta voluptas asperiores impedit enim distinctio, itaque laudantium recusandae
        provident, quis architecto beatae possimus nemo ullam esse sint sit facilis porro illo? Dolorum aut nam, id
        corporis iure dicta aperiam asperiores optio quia maxime nisi ipsam amet sapiente aspernatur quisquam itaque cum
        suscipit fuga laborum magnam harum explicabo doloremque a. Minus culpa dolorum autem sapiente porro eius
        debitis. Maiores, laudantium officia. Animi, at aut corporis, pariatur earum libero similique numquam
        consequuntur amet iure consectetur odio sunt totam, nulla iusto nihil sequi quasi saepe ratione quos minus
        consequatur. Illum, ducimus.
      </div>
    </div>
  </div>

  <app-featured></app-featured>

  <div class="space-3"></div>
  <app-extfooter></app-extfooter>
</div>
