<div>
  <div style="height: calc(100vh);" class="hero pt-5">
    <div class="wrapper p-5 mt-5 col-12 col-lg-10">
      <h1 class="fw-bold mt-5 fs-64">
        hi, i'm a software engineer with expertise in web development and a keen interest in reactive programming.
      </h1>
    </div>
  </div>

  <div style="height: calc(100vh);" class="underhero pt-5">
    <div class="row">
      <div class="col-0 col-lg-6"></div>
      <div class="wrapper p-5 mt-5 col-12 col-lg-5 o-75">
        <p class="fw-light">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium doloremque quae, est sit sapiente,
          impedit
          aliquam totam tempora accusamus molestias, voluptatem quidem delectus adipisci velit aut optio debitis placeat
          dignissimos!
        </p>
        <p class="fw-light">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium doloremque quae, est sit sapiente,
          impedit
          aliquam totam tempora accusamus molestias, voluptatem quidem delectus adipisci velit aut optio debitis placeat
          dignissimos!
        </p>
        <p class="fw-light">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium doloremque quae, est sit sapiente,
          impedit
          aliquam totam tempora accusamus molestias, voluptatem quidem delectus adipisci velit aut optio debitis placeat
          dignissimos!
        </p>
        <a href="#">learn more</a>
      </div>
    </div>
  </div>

  <app-featured></app-featured>
</div>
